language: ruby
rvm:
  - 1.9.3
  - jruby-19mode
  - 2.0.0
  - 2.1.0
  - 2.2.0
  - 2.3.0
cache: bundler
before_install:
  - gem install bundler
addons:
  code_climate:
    repo_token: f85fa0b767dbe803b9dba53e89c729db785240245aac0e17f88462581596bc93
